<div class="displayTable">
    <div class="displayTableCell">
      <div class="authBlock">
        <h3>Sign Up</h3>
        <div class="formGroup">
          <input matInput 
            type="email"
            class="formControl"
            placeholder="Email Address"
            #userEmail
            required
          />
        </div>
        <div class="formGroup">
          <input matInput [type]=" hide ? 'password' : 'text'" 
            class="formControl"
            placeholder="Password"
            #userPwd
            required
          />
          <button  mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide Password'"
          [attr.aria-pressed]="hide">
          <mat-icon>
              {{hide ? 'visibility_off' : 'visibility'}}
          </mat-icon>
      </button>

        </div>
        <div class="formGroup">
          <input mat-stroked-button
            type="button"
            class="btn btnPrimary"
            value="Sign Up"
            (click)="authService.SignUp(userEmail.value, userPwd.value)"
          />
        </div>
        <div class="formGroup">
          <span class="or"><span class="orInner">Or</span></span>
        </div>
        <!-- Continue with Google -->
        <div class="formGroup">
          <button mat-stroked-button
            type="button"
            class="btn googleBtn"
            (click)="authService.GoogleAuth()"
          >
            <i class="fab fa-google-plus-g"></i>
            Continue with Google
          </button>
        </div>
      </div>
      <div class="redirectToLogin">
        <span
          >Already have an account?
          <span class="redirect" mat-button mat-dialog-close routerLink="/sign-in">Log In</span></span
        >
      </div>
    </div>
  </div>